# Ignore Mac system files
.DS_store

# Ignore pip dist folder
# Ignore egg-info
dist
astroemperor.egg-info
MANIFEST

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore Private files
Private

# Ignore docs build
site/
*.zip
.cache

__pycache__

temp*
datalogs*
*.pyc
*.so